<div class="nfx-effect-fadein main-container">
  <div class="browse-top-margin"></div>

  <div class="about-container"
    [ngClass]="{'theme-dark':!isKidProfile(), 'theme-light':isKidProfile()}">
    <div class="about-msg-container">
      <div class="about-msg-panel"
        [ngClass]="{'theme-dark':!isKidProfile(), 'theme-light':isKidProfile()}">
        <div class="about-msg-item title">
          <div class="about-title">
            <div><img class="logo-img img-stretch" src="assets/image/logo.ico"/></div>
            <div>NETFLIX Clone Website</div>
          </div>
        </div>
        <div class="msg-panel-line"
          [ngClass]="{'theme-dark':!isKidProfile(), 'theme-light':isKidProfile()}">
        </div>
        <div class="about-msg-item">
          Running on  <b>EC2 AWS</b> (Amazon Web Services)
        </div>
        <div class="about-msg-item">
          <b>MEAN Stack:</b> MongoDB / mongoose, Express.js, Angular 5, Node.js
        </div>
        <div class="about-msg-item">
          Angular / TypeScript, RxJS, ES6, HTML5, SCSS, Bootstrap
        </div>
        <div class="about-msg-item">
          PBKDF2 (Password-Based Key Derivation Functions) Encryption
        </div>
        <div class="about-msg-item">
          JWT (JSON Web Tokens) Authorization
        </div>
        <div class="about-msg-item">
          XSRF (Cross-site Request Forgery) Protection
        </div>
        <div class="about-msg-item">
          RESTful API Implementation
        </div>
        <div class="about-msg-item">
          Gulp and Angular CLI build system
        </div>
        <div class="msg-panel-line"
          [ngClass]="{'theme-dark':!isKidProfile(), 'theme-light':isKidProfile()}">
        </div>
      </div>
    </div>
  </div>
</div>