<div class="nfx-effect-fadein nfx-footer">
  <div class="text-nowrap">
    <span><img class="logo-img" src="assets/image/logo.ico" alt="NETFLIX CLONE"/></span>
    <span class="logo-title">NETFLIX CLONE</span>
  </div>
  <div>
    <span class="text-nowrap">Built by</span>
  </div>
  <div>
    <div class="contact-info text-selectable">
      <div class="contact-info-item">
        <div class="text-nowrap">
          <i class="fas fa-envelope contact-info-icon"></i>
          <a class="contact-info-link" href="mailto:junghyun.rhoe@gmail.com">junghyun.rhoe@gmail.com</a>
        </div>
      </div>
      <div class="contact-info-item">
        <div class="text-nowrap">
          <i class="fab fa-linkedin contact-info-icon"></i>
          <a class="contact-info-link" href="https://www.linkedin.com/in/junghyunrhoe/" target="_blank">
            https://www.linkedin.com/in/junghyunrhoe/
          </a>
        </div>
      </div>
    </div>
  </div>  
</div>
